$vivid-sky-blue: #02c0e4ff;
$blue-sapphire: #146079ff;
$oxford-blue: #0c1945ff;
$dark-purple: #201c35ff;

$black: #000;
$gray950: #141313;
$gray900: #2B2A30;
$gray800: #424242;
$gray700: #616161;
$gray600: #737373;
$gray500: #999999;
$gray400: #CCCCCC;
$gray300: #E0E0E0;
$gray200: #EEEEEE;
$gray100: #F5F5F5;
$gray50: #FAFAFA;
$white: #fff;